modules = ["python-base-3.13"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PostgreSQL"

[[workflows.workflow]]
name = "PostgreSQL"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "postgres -D /home/runner/workspace/.pg/data -k /tmp -p 5432 -c listen_addresses=127.0.0.1"

[workflows.workflow.metadata]
outputType = "console"

[nix]
channel = "stable-25_05"
packages = ["postgresql"]
